
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color:#EBD8A4;
}




.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #30282A;
  padding: 0px 20px; 
}

.logo img {
  width: 36vw;
 
}


.hamburger {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: none;
  border: none;
  cursor: pointer;
}


.hamburger span {
  width: 45px;
  height: 4px;
  background-color: white;
}





.nav {
  display: none;
}

.nav.active {
  display: block;
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background-color: white;
  padding: 40px 20px;
  z-index: 1000;
}

.close-menu {
  position: absolute;
  top: 15px;
  right: 20px;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.nav a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}








/* Footer */
.footer {
  background-color: #5F5448;
  color: white;
  padding: 20px;
  text-align: center;
}


.footer-logo img {
  width: 250px;
  margin-bottom: 20px;
}


.footer-contact h2 {
  margin-bottom: 20px;
  font-size : 40px; ;
}

.footer-contact p {
  font-size: 30px;
  margin-bottom: 20px;
}


.footer-social {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.footer-social img {
  width: 60px;
}

.footer-copy p {
  font-size: 30px;
  color: rgba(255, 255, 255, 0.43); 
}






/* homepagina */
.home-main {
  background-color: #EBD8A4;
}

/* Hero sectie */
.hero {
  position: relative;
  text-align: center;
}

.hero-image {
  width: 100%;
  display: block;
}

.hero-title {
  position: absolute;
  top: 4%;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Imperial Script", cursive;
  color: #EBD8A4;
  font-size: 5rem;
  font-weight: 400;
  width: 100%;
}

.hero-subtitle {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  color: #EBD8A4;
  font-size: 0.7rem;
  width: 100%;
}

.reserve-button {
  position: absolute;
  top: 64%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #EBD8A4;
  color: black;
  text-decoration: none;
  padding: 0rem 1rem;
  border-radius: 2rem;
  font-size: 0,4rem;
}

/* Informatieblokken */
.info-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 2rem 1rem 3rem;
}

.info-card {
  background-color: #30282A;
  color: white;
  border-radius: 2rem;
  text-align: center;
  padding: 2rem 1.2rem;
}

.info-card h2 {
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

.info-card p {
  font-size: 1rem;
  line-height: 1.8;
}










/*vacaturespagina */
.vacatures-main {
  background-color: #EBD8A4;
  padding: 2rem 1.5rem 3rem;
}

.vacatures-hero {
  text-align: center;
  margin-bottom: 2.5rem;
}

.vacatures-title {
  font-family: "Imperial Script", cursive;
  color: #30282A;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1;
}

.vacatures-subtitle {
  color: #30282A;
  font-size: 0.9rem;
}

.vacatures-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.vacature-card {
  background-color: #30282A;
  color: white;
  border-radius: 2rem;
  padding: 2rem 1.2rem;
  text-align: center;
}

.vacature-card h2 {
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

.vacature-card p {
  font-size: 0.95rem;
  line-height: 2;
}












/*locatiepagina */
.locatie-main {
  background-color: #EBD8A4;
  padding: 2rem 1.5rem 3rem;
}

.locatie-hero {
  text-align: center;
  margin-bottom: 2.5rem;
}

.locatie-title {
  font-family: "Imperial Script", cursive;
  color: #30282A;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1;
}

.locatie-subtitle {
  color: #30282A;
  font-size: 0.9rem;
}

.locatie-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.opening-card,
.adres-card,
.map-card {
  background-color: #30282A;
  color: white;
  border-radius: 2rem;
  padding: 2rem 1.2rem;
}

.opening-card h2,
.adres-card h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
}

.opening-list {
  list-style: none;
  display: grid;
  gap: 1.5rem;
}

.opening-list li {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  font-size: 1,2rem;
}

.opening-list li span:last-child {
  text-align: right;
}

.adres-card {
  text-align: center;
}

.adres-card p {
  font-size: 1rem;
  line-height: 2;
}

.map-card {
  display: none;
  padding: 0;
  overflow: hidden;
}

.map-card img {
  width: 100%;
  display: block;
  border-radius: 2rem;
}











/*menupagina */
.menu-main {
  background-color: #EBD8A4;
  padding: 2rem 1rem 3rem;
}

.menu-hero {
  text-align: center;
  margin-bottom: 1.5rem;
}

.menu-title {
  font-family: "Imperial Script", cursive;
  color: #30282A;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1;
}

.menu-subtitle {
  color: #30282A;
  font-size: 0.95rem;
}

.menu-tools {
  display: grid;
  grid-template-columns: max-content;
  justify-content: center;
  margin: 1.5rem 0 2rem;
}

.menu-tools button {
  background-color: #30282A;
  color: #EBD8A4;
  border: none;
  border-radius: 2rem;
  padding: 0.6rem 1rem;
  font-family: "Inknut Antiqua", serif;
  font-size: 0.9rem;
  cursor: pointer;
}

.menu-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.menu-card {
  background-color: #30282A;
  color: white;
  border-radius: 2rem;
  text-align: center;
  padding: 2rem 1rem;
}

.menu-card h2 {
  font-size: 2rem;
  margin-bottom: 1.2rem;
}

.menu-card h3 {
  font-size: 1.1rem;
  margin: 1.5rem 0 1rem;
}

.menu-card p {
  font-size: 0.8rem;
  line-height: 2.2;
}

.menu-image-card {
  display: none;
  overflow: hidden;
  border-radius: 2rem;
}

.menu-image-card img {
  width: 100%;
  height: 84vh;
  display: block;
  border-radius: 2rem;

}

.menu-main.dark-mode {
  background-color: #30282A;
}

.menu-main.dark-mode .menu-title,
.menu-main.dark-mode .menu-subtitle {
  color: #EBD8A4;
}

.menu-main.dark-mode .menu-card {
  background-color: #EBD8A4;
  color: #30282A;
}

.menu-main.dark-mode .menu-tools button {
  background-color: #EBD8A4;
  color: #30282A;
}







/*reserverenpagina */
.reserve-main {
  background-color: #EBD8A4;
}

.reserve-hero {
  position: relative;
  text-align: center;
}

.reserve-hero-image {
  width: 100%;
  display: block;
}

.reserve-hero-title {
  position: absolute;
  left: 10%;
  bottom: 23%;
  color: white;
  font-size: 2.5rem;
  width: 70%;
  text-align: left;
}

.reserve-hero-text {
  position: absolute;
  left: 10%;
  bottom: 10%;
  color: white;
  font-family: "Roboto Mono", monospace;
  font-size: 0.8rem;
  width: 80%;
  text-align: center;
}

.reserve-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 2rem 1.5rem 3rem;
}

.reserve-info {
  background-color: #d9ccaa;
  color: #30282A;
  padding: 2rem 1.3rem;
}

.reserve-info h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.reserve-info p {
  font-size: 0.95rem;
  line-height: 1.8;
  margin-bottom: 1.5rem;
}

.reserve-note {
  padding: 1rem;
  border: 1px solid gray;
}

.reserve-note-light {
  background-color: #ececec;
}

.reserve-note-pink {
  background-color: #efb4bb;
  border-color: #d78f97;
}

.reserve-form {
  background-color: black;
  padding: 2rem 1rem;
  display: grid;
  gap: 1rem;
  align-self: stretch;
  
}

.reserve-form h2 {
  color: white;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.reserve-form input,
.reserve-form textarea,
.reserve-form button {
  font-family: "Inknut Antiqua", serif;
}

.reserve-hero-title,
.reserve-info h2 {
  font-family: "Amiri", serif;
}

.reserve-form input,
.reserve-form textarea {
  background-color: #2f2f2f;
  border: none;
  color: white;
  padding: 0.9rem;
  font-size: 0.95rem;
}

.reserve-form textarea {
  min-height: 120px;
  resize: none;
}

.reserve-form button {
  background-color: white;
  color: black;
  border: none;
  padding: 0.8rem;
  font-size: 1rem;
  cursor: pointer;
}