
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inknut Antiqua", serif;
  background-color:#EBD8A4;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #30282A;
  padding: 0px 20px;

}



/* Logo grootte */
.logo img {
  width: 36vw;
 
}

/* Hamburger menu*/
.hamburger {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

/* Lijnen van hamburger */
.hamburger span {
  width: 45px;
  height: 4px;
  background-color: white;
}

/* Navigatie standaard verborgen (mobile first) */

.nav {
  display: none;
}

.nav.active {
  display: block;
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background-color: white;
  padding: 40px 20px;
  z-index: 1000;
}

.close-menu {
  position: absolute;
  top: 15px;
  right: 20px;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.nav a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}








/* Footer */
.footer {
  background-color: #5F5448;
  color: white;
  padding: 20px;
  text-align: center;
}

/* Logo */
.footer-logo img {
  width: 250px;
  margin-bottom: 20px;
}

/* Contact tekst */
.footer-contact h2 {
  margin-bottom: 10px;
}

.footer-contact p {
  margin-bottom: 5px;
}

/* Social media */
.footer-social {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.footer-social img {
  width: 40px;
}

/* Copyright */
.footer-copy p {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.43); 
}